<p>forms works!</p>
<div class="container" style="display: flex; flex-wrap: wrap;">
    <div routerLink="/reactive-form" class="card" style="cursor: pointer; width: 18rem; padding:20px; margin-right: 15px;">
        <div class="card-body">
            <h4 class="card-title">Reactive Form</h4>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>

    <div routerLink="/template-driven-form" class="card" style="cursor: pointer; width: 18rem; padding:20px; margin-right: 15px;">
        <div class="card-body">
            <h4 class="card-title">Template Driven Form</h4>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
</div>